#lightbox {
    position: fixed;
    padding: 30px;
    background: #ddd;
    border-radius: 20px;
    border: 10px solid #ccc;
    animation-duration: 2s;
    animation-name: lightbox;


}

#lightbox::before {
    content: "X";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    *
}

::backdrop {
    background-color: 0, 0, 0;
    opacity: 0.8;
}

@keyframes lightbox {
    from {
        transform: scale(0.3);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}
@keyframes sortie {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }

}
#lightbox.sortie {
    animation-name: sortie;
    animation-duration: 1s;
    
}